html, body {
  margin: 0;
  height: 100%;
}

/* imagen de fondo*/
body{
    background-image: url(img/icons/fondo.jpg);
}

/* header*/
.header{
  display: flex;
  background-color: rgb(60, 61, 63);
  align-items: center;
  justify-content: space-around;
  height: 100px;

}


.imgPokoballHeader{
    width: 8%;
    padding: 0px;
    margin-right: 0;
}

.menu{
  display: flex;
  width: 35%;
  margin-left: 10%;
  padding-right: 380px;
}

.botonesMenu{
    display: flex;
    align-items: center;
    border: 0px;
    color: white;
    background-color:rgb(60, 61, 63);;
    font-size: x-large;
    margin-right: 55px;
    height: 50px;
}

.botonesMenu:active {
    background-color: rgb(31, 31, 32);
    cursor: pointer;
}

.botonesMenu:hover {
    background-color: rgb(31, 31, 32);
  cursor: pointer;
}

.pokeballa{
    margin-top: 10%;
    width: 240px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-inline: auto;
}

.footer {
  background-color: rgb(60, 61, 63);;
  color: white;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: xx-small; */
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* boton-filter  */
.filter-btn {
    background-color: rgb(60, 61, 63);;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-color: black;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
  }
  
  /* padre-filter */
  .filter{
    margin: 10px;
    position: relative;
    display: inline-block;
  }
  /*  lista-filter  */
  .filter-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   
  }
  .filter:hover .filter-content {
    display: grid;
  }
  
  .filter:hover .filter-btn {
    background-color: rgb(31, 31, 32);
  }


  /* boton-order  */
.order-btn {
    background-color: rgb(60, 61, 63);;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-color: black;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
  }
  
  /* padre-order */
  .order{
    margin: 10px;
    position: relative;
    display: inline-block;
  }
  /*  lista-order  */
  .order-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   
  }
  .order:hover .order-content {
    display: grid;
  }
  
  .order:hover .order-btn {
    background-color: rgb(31, 31, 32);
  
  }


  .buscadores{
    display: flex;
  }

  .bloquePokemones{
    display: inline-block;
    align-items: center; /* Alineación vertical */
    justify-content: center; /* Alineación horizontal */
    text-align: center; /* Alineación del texto */
    border-radius: 20px;
    margin: 10px;
    border-width: 1px;
    border-style: solid;
    box-shadow: 6px 20px 10px rgb(79, 79, 79);
  }

.bloquetransparente{
        background-color: rgba(0, 0, 0, 0.2);
        display: inline-block;
        border-radius: 20px;
        padding: 20px;
        height: 100%;
      }

    .pokemon{
        background-size: cover;
        color: whitesmoke;
        background-position: center;
        
        font-family:'Courier New', Courier, monospace;

    }
      
    .pokemon-fire{
        background-image: url(img/fondos/fuego.png);
        background-size: cover;
        
      }
       
    .pokemon-grass{
        background-image: url(img/fondos/grass.png);
        background-size: cover;
    }
        
    .pokemon-water{
        background-image: url(img/fondos/water.png);
        background-size: cover;
    }
       
    .pokemon-bug{
        background-image: url(img/fondos/bicho.png);
        background-size: cover;
    }
       
    .pokemon-poison{
        background-image: url(img/fondos/posion.png);
        background-size: cover;
    }
       
       
       .pokemon-electric{
         background-image: url(img/fondos/electrico.png);
         background-size: cover;
        }
       
        .pokemon-rock{
         background-image: url(img/fondos/roca.png);
         background-size: cover;
        }
       
        .pokemon-ghost{
         background-image: url(img/fondos/fantasma.png);
         background-size: cover;
        }
       
 .pokemon-ice {
     background-image: url(img/fondos/hielo.png);
     background-size: cover;
         
        }
       
        .pokemon-psychic {
         background-image: url(img/fondos/psiquico.png);
         background-size: cover;
         
        }
       
        .pokemon-ground {
         background-image: url(img/fondos/ground.png);
         background-size: cover;
         
        }
       
        .pokemon-fairy {
         background-image: url(img/fondos/hada.png);
         background-size: cover;
         
       }
       
       .pokemon-dragon {
         background-image: url(img/fondos/dragon.png);
         background-size: cover;
         
       }
       
       .pokemon-dark {
         background-image: url(img/fondos/sinistro.png);
         background-size: cover;
         
       }
       
       .pokemon-normal {
         background-image: url(img/fondos/normal.png);
         background-size: cover;
         
       }
       
       .pokemon-steel {
         background-image: url(img/fondos/);
         background-size: cover;
         
       }
       
       .pokemon-fighting {
         background-image: url(img/fondos/lucha.png);
         background-size: cover;
         
       }

       .iconType {
        width: 30px;
        height: 30px;
        border-radius: 1px;
      }

      .letrastarjetas{
        font-family: auto;
      }

      .tittle{
        justify-content: center;
        display: flex;
        font-family: auto;
        align-content: center;
        padding-top: 50px;
      }
      .pokemonDescription{
        display: flex;
        justify-content: center;
        align-items:last baseline;
        flex-wrap: wrap;
      }
      
      .fondoCaracteristicas{
        background-color: white;
        color: wh;
        font-family: auto;
        border-radius: 5px;
        margin: 50px;
        width: 300px;
        height: auto;
        padding: 20px;
      }

      .transparenciaCaracteristicas{
        background-color: rgba(255, 255, 255, 0.4);}
      
      .margin{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
      }

      .imgsPokemon{
        width: 200px;
      }

      .cajaEgg{
        margin-top: 3%;
        margin-left: 22%;
      }

      .tarjetaEgg{
        background-color: rgb(60, 61, 63);
        color: white;
        border-radius: 5px;
        display:inline-block;
        justify-content: center;
        width: 150px;
        height: 70px;
        margin: 1%;
        text-align: center;
      }

      .imgEgg{
        width: 50px;
        display: inline-block;
      }

      .h4 {
        color: white;
        display: inline-block;
      }

      #mostrarCalculo{

        font-size: large;
        display: flex;
        justify-items: center;
        justify-content: center;
        background-color: rgb(60, 61, 63);
        color: white;
        width: 342px;
        height: 54px;
        margin: auto;
        padding-right: 20px;
        padding-left: 20px;

      }

      .pCalculo{
        margin: auto;
      }